<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ikats.ams.dao.AccountMapper" >

	<!-- 附件管理 -->

	<!-- 字段实体关系映射 -->
	<resultMap id="BaseResultMap" type="com.ikats.ams.entity.AccountBean">
		<id column="id" property="id" jdbcType="BIGINT"/>  <!-- 主键 -->
		<result column="account_id" property="accountId" jdbcType="VARCHAR"/>  <!-- 账套编码 -->
		<result column="account_name" property="accountName" jdbcType="VARCHAR"/>  <!-- 账套名称 -->
		<result column="org_code" property="orgCode" jdbcType="VARCHAR"/>  <!--组织编码  -->
		<result column="org_cname" property="orgCname" jdbcType="VARCHAR"/>  <!--组织中文名  -->
		<result column="org_ename" property="orgEname" jdbcType="VARCHAR"/>  <!-- 英文名 -->
		<result column="org_shortname" property="orgShortname" jdbcType="VARCHAR"/>  <!-- 简称 -->
		<result column="country" property="country" jdbcType="VARCHAR"/>  <!-- 所在国 -->
		<result column="currency" property="currency" jdbcType="VARCHAR"/>  <!--结算币种  -->
		<result column="address" property="address" jdbcType="VARCHAR"/>  <!--公司地址  -->
		<result column="contact_person" property="contactPerson" jdbcType="VARCHAR"/>  <!--联系人  -->
		<result column="contact_phone" property="contactPhone" jdbcType="VARCHAR"/>  <!--联系人电话  -->
		<result column="bank_account" property="bankAccount" jdbcType="VARCHAR"/>  <!--银行账号  -->
		<result column="bank_name" property="bankName" jdbcType="VARCHAR"/>  <!--银行名称  -->
		<result column="bank_address" property="bankAddress" jdbcType="VARCHAR"/>  <!--银行地址  -->
		<result column="parent_account_id" property="parentAccountId" jdbcType="INTEGER"/>  <!--上级账套编码  -->
		<result column="creator" property="creator" jdbcType="VARCHAR"/>  <!--创建人  -->
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>  <!--创建时间  -->
		<result column="df" property="df" jdbcType="VARCHAR"/>  <!--状态:0存在,1已删除  -->
		<result column="in_out" property="inout" jdbcType="VARCHAR"/>  <!--收入支出:I-收入;O-支出  -->
		<result column="org_id" property="orgId" jdbcType="INTEGER" />  <!--组织id -->
	</resultMap>

	<!-- 字段列表 -->
	<sql id="Base_Column_List">
		id  <!--  -->
		,account_id
		,account_name
		,org_code
		,org_cname
		,org_ename
		,org_shortname
		,country
		,currency
		,address
		,contact_person
		,contact_phone
		,bank_account
		,bank_name
		,bank_address
		,parent_account_id
		,creator
		,create_time
		,df
		,in_out
		,org_id
	</sql>

	<!-- 常用的查询条件集合 -->
	<sql id="Filter_Where">
		1=1
		<if test="express.containsKey('id') and express.id!=''"> and id = '${express.id}' </if>
		<if test="express.containsKey('accountId') and express.accountId!=''"> and account_id = '${express.accountId}' </if>
		<if test="express.containsKey('accountName') and express.accountName!=''"> and  account_name= '${express.accountName}' </if>
		<if test="express.containsKey('orgCode') and express.orgCode!=''"> and  org_code= '${express.orgCode}' </if>
		<if test="express.containsKey('orgCname') and express.orgCname!=''"> and org_cname = '${express.orgCname}' </if>
		<if test="express.containsKey('orgEname') and express.orgEname!=''"> and org_ename = '${express.orgEname}' </if>
		<if test="express.containsKey('orgShortname') and express.orgShortname!=''"> and org_shortname = '${express.orgShortname}' </if>
		<if test="express.containsKey('country') and express.country!=''"> and country = '${express.country}' </if>
		<if test="express.containsKey('currency') and express.currency!=''"> and currency = '${express.currency}' </if>
		<if test="express.containsKey('address') and express.address!=''"> and  address= '${express.address}' </if>
		<if test="express.containsKey('contactPerson') and express.contactPerson!=''"> and  contact_person= '${express.contactPerson}' </if>
		<if test="express.containsKey('contactPhone') and express.contactPhone!=''"> and contact_phone = '${express.contactPhone}' </if>
		<if test="express.containsKey('bankAccount') and express.bankAccount!=''"> and bank_account = '${express.bankAccount}' </if>
		<if test="express.containsKey('bankName') and express.bankName!=''"> and  bank_name= '${express.bankName}' </if>
		<if test="express.containsKey('bankAddress') and express.bankAddress!=''"> and bank_address = '${express.bankAddress}' </if>
		<if test="express.containsKey('parentAccountId') and express.parentAccountId!=''"> and parent_account_id = '${express.parentAccountId}' </if>
		<if test="express.containsKey('creator') and express.creator!=''"> and  creator= '${express.creator}' </if>
		<if test="express.containsKey('createTime') and express.createTime!=''"> and  create_time= '${express.createTime}' </if>
		<if test="express.containsKey('df') and express.df!=''"> and df = '${express.df}' </if>
		<if test="express.containsKey('inout') and express.inout!=''"> and  in_out= '${express.inout}' </if>
		<if test="express.containsKey('orgId') and express.orgId!=''"> and org_id = '${express.orgId}' </if>
	</sql>

	<!-- 保存单条记录 -->
	<insert id="insert" parameterType="com.ikats.ams.entity.AccountBean" useGeneratedKeys="true"
			keyProperty="id">
		insert into ams_account (
		account_id
		,account_name
		,org_code
		,org_cname
		,org_ename
		,org_shortname
		,country
		,currency
		,address
		,contact_person
		,contact_phone
		,bank_account
		,bank_name
		,bank_address
		,parent_account_id
		,creator
		,create_time
		,df
		,in_out
		,org_id
		)
		values (
		#{accountId,jdbcType=VARCHAR}
		,#{accountName,jdbcType=VARCHAR}
		,#{orgCode,jdbcType=VARCHAR}
		,#{orgCname,jdbcType=VARCHAR}
		,#{orgEname,jdbcType=VARCHAR}
		,#{orgShortname,jdbcType=VARCHAR}
		,#{country,jdbcType=VARCHAR}
		,#{currency,jdbcType=VARCHAR}
		,#{address,jdbcType=VARCHAR}
		,#{contactPerson,jdbcType=VARCHAR}
		,#{contactPhone,jdbcType=VARCHAR}
		,#{bankAccount,jdbcType=VARCHAR}
		,#{bankName,jdbcType=VARCHAR}
		,#{bankAddress,jdbcType=VARCHAR}
		,#{parentAccountId,jdbcType=INTEGER}
		,#{creator,jdbcType=VARCHAR}
		,now()
		,'0'
		,#{inout,jdbcType=VARCHAR}
		,#{orgId,jdbcType=INTEGER}
		)
	</insert>

	<!-- 根据ID查询记录 -->
	<select id="selectByKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List"/>
		from ams_account
		where df='0' and id = #{id,jdbcType=BIGINT}
	</select>

	<!-- 筛选记录 -->
	<select id="selectAll" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List"/>
		from ams_account
		where <include refid="Filter_Where"/> and df='0'
		order by id desc
		limit ${pageSize} offset ${pageNum}
	</select>

	<!-- 根据ID更新记录 -->
	<update id="updateByKey" parameterType="com.ikats.ams.entity.AccountBean">
		update ams_account
		<set>
			<if test="accountId != null ">account_id = #{accountId,jdbcType=VARCHAR},</if>
			<if test="accountName != null ">account_name = #{accountName,jdbcType=VARCHAR},</if>
			<if test="orgCode != null ">org_code = #{orgCode,jdbcType=VARCHAR},</if>
			<if test="orgCname != null ">org_cname = #{orgCname,jdbcType=VARCHAR},</if>
			<if test="orgEname != null ">org_ename = #{orgEname,jdbcType=VARCHAR},</if>
			<if test="orgShortname != null ">org_shortname = #{orgShortname,jdbcType=VARCHAR},</if>
			<if test="country != null ">country = #{country,jdbcType=VARCHAR},</if>
			<if test="currency != null ">currency = #{currency,jdbcType=VARCHAR},</if>
			<if test="address != null ">address = #{address,jdbcType=VARCHAR},</if>
			<if test="contactPerson != null ">contact_person = #{contactPerson,jdbcType=VARCHAR},</if>
			<if test="contactPhone != null ">contact_phone = #{contactPhone,jdbcType=VARCHAR},</if>
			<if test="bankAccount != null ">bank_account = #{bankAccount,jdbcType=VARCHAR},</if>
			<if test="bankName != null ">  bank_name= #{bankName,jdbcType=VARCHAR},</if>
			<if test="bankAddress != null ">  bank_address= #{bankAddress,jdbcType=VARCHAR},</if>
			<if test="parentAccountId != null ">  parent_account_id= #{parentAccountId,jdbcType=VARCHAR},</if>
			<if test="creator != null "> creator = #{creator,jdbcType=VARCHAR},</if>
			<if test="createTime != null ">  create_time= #{createTime,jdbcType=TIMESTAMP},</if>
			<if test="df != null ">  df= #{df,jdbcType=VARCHAR},</if>
			<if test="inout != null ">  in_out= #{inout,jdbcType=VARCHAR},</if>
		</set>
		where id = #{id,jdbcType=BIGINT}
	</update>

	<!-- 根据ID删除记录 -->
	<update id="deleteByKey" parameterType="java.lang.Long">
		update  ams_account set  df='1'
		where id = #{id,jdbcType=BIGINT}
	</update>

	<!-- 查询记录数量 -->
	<select id="selectCount" resultType="java.lang.Long"
			parameterType="com.ikats.ams.entity.AccountBean">
		select count(1)
		from ams_account
		where df='0'
		<include refid="Filter_Where"/>
	</select>

</mapper>
